@model PartyHive.Models.Booking
@{
    ViewData["Title"] = "Confirmation";
}

<h1>Confirmation</h1><br />

<h2>Congratulations! Your booking has successfully proceeded. Let's meet at the party!!!</h2>

<p>Number of Guest: @Model.HowManyGuest people</p>

<p>Party Name: @Model.Party.Name</p>

<a class="btn btn-success" asp-controller="Bookings" asp-action="MyBookings" asp-route-id="@Model.UserId">Go your booking</a>
@Html.ActionLink("Go back", "details", "Parties", new { id = @Model.PartyId }, new { @class = "btn btn-danger" })

